<%= form_with model: article do |form|%>
<% if article.errors.any? %>
  <h2><%= pluralize(article.errors.count, "error")%> prevented article from being saved </h2>
<ul>
  <% article.errors.each do |error|%>
    <li><%= error.full_message %></li>
        <% end %>
  <% end %>
<%= form.label :title %>
</br>
<%= form.text_field :title %>
</br>
<%= form.label :content %>
</br>
<%= form.text_area :content %>
</br>
<%= form.submit %>
<% end %>
